{% extends 'registration/base.html' %}


   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <script>$(document).ready(function() {
    $('#example').DataTable();
} );
    </script>

{% block title %}<title>Vouchers</title>{% endblock title %}


{% block content %}{{ block.super }}

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>

                <th>Voucher Number</th>
                <th>Date</th>
                <th>Issued By</th>
                <th>Issued To</th>

            </tr>
        </thead>
        <tbody>

                {% for data in voucher_names %}
             <tr>

                    <td>{{ data.voucher_number }}<a href="/voucherinfo?pk={{ data.id }}" class="pull-right">View</a></td>
                    <td>{{ data.date_issued }}</td>
                    <td>{{ data.issued_by }}</td>
                    <td>{{ data.issued_to }}</td>
              {% endfor %}

            </tr>

         </tbody>

    </table>
{% endblock content%}

