{% extends 'registration/base.html' %}


   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <script>$(document).ready(function() {
    $('#example').DataTable();
} );
    </script>

{% block title %}<title>Voucher Details</title>{% endblock title %}


{% block content %}{{ block.super }}

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        {% for data in voucher %}
            <tr><td class="well-sm">  Voucher Number:</td><td> {{ data.voucher_number }} </td></tr>
            <tr><td class="well-sm"> Warehouse:</td><td> {{ data.warehouse }} </td></tr>
            <tr><td class="well-sm"> Item:</td><td> {{ data.item }} </td></tr>
            <tr><td class="well-sm"> Quantity:</td><td> {{ data.quantity }} </td></tr>
        {% endfor %}

    </table>
{% endblock content%}

